
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        body{
            font-family: 'Montserrat', sans-serif;
            background-color: rgb(250, 246, 241);
        }
        
        h1{
            text-align: center;
        }
        .direita{  
            text-align: right;
        }
        
        .container{
            margin: 0 auto;
            border: 5px solid rgb(182, 131, 131);
            text-align: center;
        
        } 
        #ex{
            text-align: left;
        }
        #premiacoes{
            text-align: left;
        }
        #form{
            text-align: left;
        }
        #extras{
            text-align: left;
        }
        #lin{
            text-align: left;
        }
        .item {
	        margin: 10px;
	        text-align: left;
	        font-size: 1em;
        }
        .flex-wrap {
	        flex-wrap: wrap;
        }
        .flex{
            display: flex;
        }
        .flex-item-1 {
	        flex: 1;
        }
        .col-2{
            border: solid 5px rgb(182, 131, 131);
            width: 175px;
            border-radius: 5%;
            min-width:min-content;
            max-width: max-content;
            
        }
        .imagem{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            /* width: fit-content; */
            /* width: -moz-fit-content; */
            padding: 10px;
        }
        #photo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .imagem img {
            max-width: 80%;
            margin: 20px;
            border-radius: 50%;
            outline: solid 20px #8ca0ff;
        }
        .col-3{
            border: solid 0px rgb(255, 255, 255);
            width: 100%;
            border-radius: 3%;
        }
        .flex-box {
            border:solid 0px #8ca0ff;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .container-box {
            background-color: rgb(250, 246, 241);
            height: 300px;
          }

          .input{
            border: solid rgb(182, 131, 131);
            border-radius: 0%;
            height: 20px;
            width: 100%;
            font-size:medium;
            font-family: 'Montserrat', sans-serif;

          }
          .input:hover{
              border: solid #8ca0ff;
              border-radius: 0%;
          }
          #submit{
              text-align: center;
          }
          .button{
              border: solid rgb(182, 131, 131);
              background-color: rgb(255, 255, 255)
          }
          .button:hover{
              border: solid #8ca0ff;
          }
        